runs/

outputs/
outputs2/
outputs3/
outputs4/

**/.cache/
*.cache
__pycache__/
.ipynb_checkpoints/

*.pt
*.onnx
*.engine

*.mp4
*.avi
*.mov
frames/
image/

*.conda
*.yml
*.env
*.txt~

###########################################################
# CARPETAS/ARCHIVOS QUE SI
###########################################################

!Models/
!Models/**

!Datasets/
!Datasets/**

!runs_finetune/
!runs_finetune/**

!Proyecto_Rev3.ipynb

*.pdf
*.pptx

!.gitignore